swagger: "2.0"
info:
  title: "Public Annotations API"
  description: "Provides a public API for Annotations stored in a Neo4J graph database"
  version: "2.0.0"
  contact:
    name: Universal Publishing
    email: Universal.Publishing.Platform@ft.com
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
host: api.ft.com
schemes:
  - https
basePath: /
paths:
  /content/{contentUUID}/annotations:
    get:
      summary: Retrieves the annotations for a piece of content.
      description: Given UUID of some content as a path parameter, responds 
        with the annotations of the requested pience of content in json format.
      tags:
        - Public API
      parameters:
        - in: path
          name: contentUUID
          type: string
          required: true
          x-example: 59439611-a23a-38ae-8615-b35a80d4e6f1
          description: UUID of a piece of content
      responses:
        200:
          description: Returns the annotations if they exists.
          examples:
            application/json:
              - predicate: http://www.ft.com/ontology/annotation/mentions
                id: http://api.ft.com/things/12a18b0f-98cf-35a4-87fd-2b45450bee65
                apiUrl: http://api.ft.com/people/12a18b0f-98cf-35a4-87fd-2b45450bee65
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/person/Person
                prefLabel: Alan Ruskin
              - predicate: http://www.ft.com/ontology/classification/isClassifiedBy
                id: http://api.ft.com/things/5c7592a8-1f0c-11e4-b0cb-b2227cce2b54
                apiUrl: http://api.ft.com/brands/5c7592a8-1f0c-11e4-b0cb-b2227cce2b54
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/classification/Classification
                  - http://www.ft.com/ontology/product/Brand
                prefLabel: fastFT
              - predicate: http://www.ft.com/ontology/classification/isPrimarilyClassifiedBy
                id: http://api.ft.com/things/128ff9cd-e828-3369-815b-ae73f51c0a43
                apiUrl: http://api.ft.com/things/128ff9cd-e828-3369-815b-ae73f51c0a43
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/classification/Classification
                  - http://www.ft.com/ontology/Section
                prefLabel: Front page
              - predicate: http://www.ft.com/ontology/classification/isClassifiedBy
                id: http://api.ft.com/things/9b40e89c-e87b-3d4f-b72c-2cf7511d2146
                apiUrl: "http://api.ft.com/things/9b40e89c-e87b-3d4f-b72c-2cf7511d2146"
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/classification/Classification
                  - http://www.ft.com/ontology/Genre
                  - prefLabel: News
              - predicate: http://www.ft.com/ontology/annotation/mentions
                id: http://api.ft.com/things/f8f06886-4ee6-4be5-9550-7d9ddef3920f
                apiUrl: http://api.ft.com/organisations/f8f06886-4ee6-4be5-9550-7d9ddef3920f
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/organisation/Organisation
                leiCode: ECTRVYYCEF89VWYS6K36
                prefLabel: Treasury UK
              - predicate: http://www.ft.com/ontology/annotation/mentions
                id: http://api.ft.com/things/03789e6f-98b6-4c17-9933-e721af909638
                apiUrl: http://api.ft.com/organisations/03789e6f-98b6-4c17-9933-e721af909638
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/organisation/Organisation
                  - http://www.ft.com/ontology/company/Company
                  - http://www.ft.com/ontology/company/PublicCompany
                leiCode: 7LTWFZYICNSX8D621K86
                FIGI: BBG000BBZTH2
                prefLabel: Deutsche Bank AG
              - predicate: http://www.ft.com/ontology/annotation/mentions
                id: http://api.ft.com/things/618452ab-13c0-400f-827c-d649cab2315c
                apiUrl: http://api.ft.com/organisations/618452ab-13c0-400f-827c-d649cab2315c
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/organisation/Organisation
                leiCode: 549300B56MD0ZC402L06
                prefLabel: Bloomberg LP
              - predicate: http://www.ft.com/ontology/annotation/mentions
                id: http://api.ft.com/things/713c342a-b2e3-3fad-b6ef-6a7aa40445d6
                apiUrl: http://api.ft.com/people/713c342a-b2e3-3fad-b6ef-6a7aa40445d6
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/person/Person
                prefLabel: Aaron Kohli
              - predicate: http://www.ft.com/ontology/implicitlyClassifiedBy
                id: http://api.ft.com/things/dbb0bdae-1f0c-11e4-b0cb-b2227cce2b54
                apiUrl: http://api.ft.com/brands/dbb0bdae-1f0c-11e4-b0cb-b2227cce2b54
                types:
                  - http://www.ft.com/ontology/core/Thing
                  - http://www.ft.com/ontology/concept/Concept
                  - http://www.ft.com/ontology/classification/Classification
                  - http://www.ft.com/ontology/product/Brand
                  - prefLabel: Financial Times
        400:
          description: Bad request if the uuid path parameter is  formatted formed or missing.
        404:
          description: Not Found if there is no annotations record for the uuid path parameter is found.
        500:
          description: Internal Server Error if there was an issue processing the records.
        503:
          description: Service Unavailable if it cannot connect to Neo4j.
  /__health:
    get:
      summary: Healthchecks
      description: Runs application healthchecks and returns FT Healthcheck 
        style json.
      produces:
        - application/json
      tags:
        - Health
      responses:
        200:
          description: Should always return 200 along with the output of the 
            healthchecks - regardless of whether the healthchecks failed or 
            not. Please inspect the overall `ok` property to see whether or 
            not the application is healthy.
  /__build-info:
    get:
      summary: Build Information
      description: Returns application build info, such as the git 
        repository and revision, the golang version it was built with, and 
        the app release version.
      produces:
        - application/json; charset=UTF-8
      tags:
        - Info
      responses:
        200:
          description: Outputs build information as described in the summary.
  /__gtg:
    get:
      summary: Good To Go
      description: Lightly healthchecks the application, and returns a 200 
        if it's Good-To-Go.
      tags:
        - Health
      responses:
        200:
           description: The application is healthy enough to perform all its 
            functions correctly - i.e. good to go.
        503:
           description: One or more of the applications healthchecks have 
            failed, so please do not use the app. See the /__health endpoint 
            for more detailed information.
